* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-image: url('./images/Team/back.jpeg');
  }
  html {
    font-family: "Montserrat";
  }
  /* welcome */

  
#home{
  height: 100vh;
  min-height: 500px;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

.sm a{
  color: rgb(143, 130, 130);
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
  text-decoration: none;
}

.sm a:hover{
  color: #3e4446;
}

#home .buttons{
  margin-top: 60px;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #d9dfe0;
  background-color: goldenrod;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid goldenrod;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: #d9dfe0;
  color: rgb(0, 0, 0);
}


@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  #home .content h1{
    font-size: 60px;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}




  /* Road map */
  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #111;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #141414; 
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: goldenrod;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }
  .title{
      background-color: #111;
      color: white;
      text-align: center;
    }
    .team p{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
        font-weight: 400;
        text-align: center
    }

  .profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
  }
  
  .profile {
    flex-basis: 260px;
  }
  
  .profile .profile-img {
    height: 157px;
    width: 173px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
  }
  
  .profile:hover .profile-img {
    filter: grayscale(0);
  }
  
  .user-name {
    margin-top: 30px;
    font-size: 25px;
  }
  
  .profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
  }
  
  .profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }
  
  @media only screen and (max-width: 1150px) {
    .profiles {
      flex-direction: column;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .heading {
      font-size: 40px;
      color: white;
      text-align: center;
    }
  
    .heading span {
      font-size: 15px;
    }
  
    .profiles {
      margin: 20px 0;
    }
  
    .profile p {
      margin: 20px 10px 80px 10px;
    }
  }
  

  /* about */
  #about{
    margin-bottom: 10px;
  }
  
  .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .section-title{
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .about-pic{
    width: 200px;
    border-radius: 50%;
    border-radius: 50%;
    /* filter: grayscale(100%); */
    cursor: pointer;
    transition: 400ms;
    margin-right: 100px;
    margin-top: 3px;
  }
  
  .about-text ul li {
    margin-left: 30px;
  }
  .about:hover .about-pic {
    filter: grayscale(0);
  }
  .about-text{
    flex: 1;
  }
  
  .about-text h3{
    margin: 10px 0;
    color: #444;
    font-size: 16px;
  }
  
  .about-text h3 span:nth-child(1):after,
  .about-text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
  }
  
  .about-text p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
  }
  

  
  
  
  
  @media screen and (max-width: 980px){
    
  
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
  
    .menu-toggler.active span:nth-child(3){
      transform: rotate(45deg);
      bottom: 14px;
    }
  
    .inner-width{
      max-width: 800px;
    }
  
    .about-pic{
      margin: 0 auto 60px;
    }
  
    .about-text{
      flex: 100%;
      text-align: center;
    }
    
 
  
  }
  
  @media screen and (max-width: 600px){
    .inner-width{
      padding: 0 20px;
    }
  
    .skill{
      width: 100%;
    }
  
  
    .about-content ul li{
      font-size: 17px;
    }

  }
  
  .sm{
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .footer{
    margin-top: 20px;
  }

  
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2;
  overflow: hidden;
}

.loader marquee {
  opacity: 0.2;
  text-transform: uppercase;
  line-height: 180px;
  margin: 0;
  padding: 0;
  color: #646464;
  font-size: 200px;
  font-family: "Cinzel";
}

.loader .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader .intro h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  font-family: "Cinzel";
}

/* price */

#pricing-table{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  }
  .price-box-container{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
  }
  .price-box{
      margin: 10px;
      width: 265px;
      border-radius: 5px;
      height: auto;
  }
  .box-top-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 100%;
      border: 1px solid #ebebeb;
      border-bottom: none;
      position: relative;
  }
   
  .plan-name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 5px;
  }
  .plan-name strong{
      color:#fff;
      font-size: 1.5rem;
      margin: 5px 0px;
  }
  .plan-name span{
      color: #fff;
      font-size: 0.8rem;
  }
  .plan-img{
      width:160px;
      height:117px;
  }
  .plan-img img{
      width:100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
  }
  .price-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
  }
  .price strong{
      font-size: 4rem;
      color: #fff;  
  }
  .price span{
      font-size: 0.8rem;
      padding: 0px;
      margin: 0px;
      color: #fff;
      font-weight: 500;
  }
  .per-month{
      font-size: 0.8rem;
      color: #fff;
  }
  .box-features-section{
      border-top: 1px solid #c9c9c9;
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      border: 1px solid #ebebeb;
      border-top: 1px solid #c7c7c7;
  }
  .features-box{
      width: 100%;
      display: flex;
      border-radius: 20px;
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
      
  }
   
  .features-box i{
      color: #fff;
      margin-right: 7px;
      font-size: 0.9rem;
  }
  .features-box span{
      color: #fff;
      font-size: 0.8rem;
  }
  .features-box:hover{
      /* background-color: goldenrod; */
      transition: all ease 0.3s;
  }
   
  .feature-details{
      position: absolute;
      bottom:45px;
      left: 50%;
      transform: translateX(-50%);
      width:100%;
      height: auto;
      padding: 10px;
      background-color: #242424;
      color: #ebebeb;
      border-radius: 8px;
      font-size: 0.8rem;
      text-align: center;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.10);
      display: none;
      animation: fade 0.2s;
  }
  .feature-details:after{
      content: '';
      width:0px;
      height: 0px;
      border-bottom: 5px solid transparent;
      border-left: 7px solid transparent;
      border-top: 7px solid #242424;
      border-right: 5px solid transparent;
      position: absolute;
      left: 50%;
      top: 100%;
  }
  .features-box:hover .feature-details{
      display:block;
  }
  .chose-plan-btn{
      margin-top: 20px;
      font-size: 0.9rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.5px;
  }
  .chose-plan-btn:hover{
      color: #462ebd;
      border-bottom: 1px solid #462ebd;
      transition: all ease 0.2s;
  }
  @keyframes fade{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  .top-bar{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -20px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      border-radius: 20px;
      padding: 10px 25px;
      color: #ffffff;
      /* background-color: #2c2c2c; */
      box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
   
  }
  /* .popular .box-top-section{
      background-color: #f3e411;
  } */
  .price-box:hover .box-top-section,
  .price-box:hover .box-features-section{
      box-shadow: 2px 2px 30px rgba(0,0,0,0.09);
      transition: all ease 0.2s;
  }
  @media(max-width:1160px){
      .price-box-container{
          width:800px
      }
      .price-box{
          flex-grow: 1;
      }
  }
  @media(max-width:810px){
     .price-box-container{
         width: 100%;
     } 
  }
  @media(max-width:570px){
      .price-box{
          width:100%;
          margin: 20px 10px;
          box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
      }
  }  

  .weltext{
    color: goldenrod;
  }
  .mt{
    margin-top: 10px;
  }