* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
    color: white;
  }
  html {
    font-family: "Montserrat";
  }
  /* welcome */

  header {
    background: linear-gradient(#111, #111);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .button {
    background-color: #474e47;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }

  .welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
  }
  .welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
  }
  

  /* Road map */
  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #111;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #141414; 
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }
  .title{
      background-color: #111;
      color: white;
      text-align: center;
    }
    .team p{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
        font-weight: 400;
        text-align: center
    }


    /* emojiclub */

    .emojiclub{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      background: linear-gradient(#111, #111);
      height: 100vh;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      position: relative;
    }

    .emojiclub p {
      font-size: 16px;
      margin-top: 20px;
      text-align: justify;
    }
    
    @media only screen and (max-width: 1150px) {
      .emojiclub {
        flex-direction: column;
      }
    
      .emojiclub {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .emojiclub p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
      }
    }
    
    @media only screen and (max-width: 900px) {
      .heading {
        font-size: 40px;
        color: white;
        text-align: center;
      }
    
      .emojiclub span {
        font-size: 15px;
      }
    
      .emojiclub {
        margin: 20px 0;
      }
    
      .emojiclub p {
        margin: 20px 10px 80px 10px;
      }
    }
    



    /* Team */

    
.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
  }
  
  .profile {
    flex-basis: 260px;
  }
  
  .profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
  }
  
  .profile:hover .profile-img {
    filter: grayscale(0);
  }
  
  .user-name {
    margin-top: 30px;
    font-size: 25px;
  }
  
  .profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
  }
  
  .profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }
  
  @media only screen and (max-width: 1150px) {
    .profiles {
      flex-direction: column;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .heading {
      font-size: 40px;
      color: white;
      text-align: center;
    }
  
    .heading span {
      font-size: 15px;
    }
  
    .profiles {
      margin: 20px 0;
    }
  
    .profile p {
      margin: 20px 10px 80px 10px;
    }
  }
  